<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="bg-dark text-white">
<div layout:fragment="main" class="d-flex align-items-center justify-content-center vh-100">
    <div class="bg" style="background-image: url('/assets/images/home.jpeg'); 
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center; 
                            height: 80vh; width: 80vw">
        <h3 class="m-lg-5 text-center">Welcome to Bookworm, a free open Ebook library. </h3>
    </div>
</div>
</body>
</html>
