<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>User Login</title>
</head>
<body class="bg-dark text-white">
<div layout:fragment="main"
     class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="card p-2 shadow mb-5 bg-dark text-white rounded text-left w-50">
        <div class="card-body">
            <h1 class="h1 p-2 mb-1 card-title text-center">Login</h1>
            <h5 class="h5 p-1 text-center">
                Login to your account to get Ebooks for free!
            </h5>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password!
            </div>
            <form role="form" method="post" th:action="@{/auth/signin}">
                <div class="form-group mb-3">
                    <label for="email_or_username" class="form-label">Username or Email</label>
                    <input required
                           type="text"
                           name="email_or_username"
                           class="form-control"
                           id="email_or_username"
                           aria-describedby="usernameHelp"
                           autofocus="autofocus"
                           placeholder="Enter Username or Email"/>
                </div>
                <div class="form-group mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input required
                           type="password"
                           name="password"
                           class="form-control"
                           id="passwordInput"
                           aria-describedby="passwordHelp"/>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-3  rounded">Submit</button>
                <div class="text-center mb-3">
                    <a th:href="@{/auth/registration-form}">Don't have an account? Register now.</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
